[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "static/themes/beautifulhugo"]
	path = static/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/bilberry-hugo-theme"]
	path = themes/bilberry-hugo-theme
	url = https://github.com/Lednerb/bilberry-hugo-theme.git
